<?xml version="1.0"?>
<config>
    <modules>
        <AgentsOf_Shield>
            <version>0.0.1</version>
        </AgentsOf_Shield>
    </modules>
    <global>
        <helpers>
            <agentsof_shield>
                <class>AgentsOf_Shield_Helper</class>
            </agentsof_shield>
        </helpers>
        <models>
            <agentsof_shield>
                <class>AgentsOf_Shield_Model</class>
            </agentsof_shield>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <agentsof_shield>
                        <class>agentsof_shield/observer</class>
                        <method>check</method>
                    </agentsof_shield>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <agentsof_shield>
                                            <title>Shield</title>
                                        </agentsof_shield>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>